@import "./Variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $color400;
}

.hide {
  font-size: 0px;
  display: none;
}

::-webkit-scrollbar {
  width: 17px;
  z-index: 1;
}

::-webkit-scrollbar-track {
  background-color: $color300;
}

::-webkit-scrollbar-thumb {
  background-color: $color100;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color200;
}

.nav {
  z-index: 999;
  position: fixed;
  @include size(100%, 10vh, 1.5rem 1.5rem);
  @include flex(row, space-between, center, 10px);
  * {
    transition: $medium;
  }
  div {
    @include size(100%, 100%, 1.5rem 1.5rem);
    @include flex(row, center, center, 1rem);
    h1 {
      @include title($color100, $title, 800);
      cursor: pointer;
    }
  }
}

.nav-scroll {
  z-index: 999;
  position: fixed;
  @include size(100%, 10vh, 1.5rem 1.5rem);
  @include flex(row, space-between, center, 10px);
  * {
    transition: $medium;
  }
  div {
    @include size(230px, 50%, 3rem);
    @include flex(row, center, center, 1rem);
    h1 {
      @include title($color100, $title, 800);
      cursor: pointer;
    }
  }
}

.header {
  @include size(100%, 100vh, 15%);
  @include flex(column, center, center, 10px);
  background-color: $color300;

  p {
    color: $color200;
    font-size: $bigParagraph;
    font-weight: 600;
  }

  h1 {
    color: $color100;
    font-size: $bigTitle;
    font-weight: 600;
  }

  h2 {
    color: $color000;
    font-size: $title;
    font-weight: 700;
  }

  div {
    @include flex(row, center, center, 1rem);
    button {
      font-size: $title;
      color: $color200;
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-decoration: none;
      transition: $fast;
      &:hover {
        transition: $fast;
        color: $color100;
      }
    }
  }
}

.about {
  @include size(100%, 100%, 15%);
  @include flex(column, center, center, 10px);
  background-color: $color400;
  h1 {
    color: $color000;
    font-size: $bigParagraph;
    font-weight: 500;
    text-align: justify;
  }

  .content {
    @include size(100%, 100%, 0);
    @include flex(column, space-between, flex-start, 2rem);
    margin-top: 10px;

    .row {
      width: 100%;
      margin-bottom: 1rem;
      @include flex(row, space-around, center, 10px);

      p {
        @include flex(row, center, center, 0);
        width: 100%;
        font-size: $title;
        position: relative;

        * {
          transition: $fast;
        }
        span {
          position: absolute;
          font-size: 0;
          color: $color000;
          background-color: $color300;
          border-radius: 25px;
          padding: 0;
          top: 0;
        }
        &:hover {
          span {
            top: -2rem;
            padding: 5px 10px;
            font-size: $paragraph;
          }
        }
      }
    }
  }
}

.experience {
  @include size(100%, 100%, 15%);
  @include flex(row, center, center, 1rem);
  background-color: $color300;

  .title {
    position: sticky;
    top: 5.5rem;
    width: 30%;
    height: fit-content;
    align-self: flex-start;

    p {
      color: $color100;
      font-size: $subTitle;
      font-weight: 600;
    }

    h1 {
      color: $color000;
      font-size: $bigTitle;
      font-weight: 600;
    }
  }

  .content {
    width: 70%;
  }
}

.skill {
  @include size(100%, 100%, 5% 15%);
  @include flex(column, flex-start, center, 10px);
  background-color: $color300;

  .top {
    @include flex(column, flex-start, flex-start, 10px);
    width: 100%;

    h1 {
      @include title($color000, $title, 800);
    }

    div {
      @include flex(row, center, center, 1rem);
      button {
        font-size: $bigParagraph;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .active {
        color: $color100;
      }
      .non_active {
        color: $color200;
      }
    }
  }
}

.project {
  @include size(100%, 100%, 5% 15%);
  @include flex(column, flex-start, center, 10px);
  background-color: $color400;

  .top {
    @include flex(column, flex-start, flex-start, 10px);
    width: 100%;

    h1 {
      @include title($color000, $title, 800);
    }

    div {
      @include flex(row, center, center, 1rem);
      button {
        font-size: $bigParagraph;
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
      }
      .active {
        color: $color100;
      }
      .non_active {
        color: $color200;
      }
    }
  }

  .content {
    @include size(100%, 100%, 0);
    min-height: 66vh;
    @include grid(300px, 1fr, 1rem);
  }

  .bottom {
    @include size(100%, 30px, 0);
    @include flex(row, center, center, 10px);

    .pagination_active {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $color100;
      border: 3px solid $color200;
      font-size: 0;
    }

    .pagination_non_active {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: transparent;
      border: 3px solid $color200;
      font-size: 0;
    }
  }
}

.footer {
  @include size(100%, 1vh, 2%);
  @include flex(row, center, center, 10px);
  background-color: $color300;
  color: $color000;
}

// components
.card_project {
  @include size(100%, none, 10px 0);
  @include flex(column, flex-start, flex-start, 1rem);
  border-bottom: 2px solid $color200;
  .images {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  figcaption {
    width: 100%;
    height: 100%;
    @include flex(column, space-between, flex-start, 1rem);

    h1 {
      color: $color100;
      font-size: $bigParagraph;
    }
    h3 {
      color: $color200;
      font-size: $paragraph;
    }
    p {
      font-size: $paragraph;
      color: $color000;
    }
    .container {
      width: 100%;
      @include flex(row, space-between, flex-start, 10px);
      .item_icon {
        width: 100%;
      }
      .row {
        @include flex(row, flex, center, 1rem);
        @include size(100%, 50px, 5px);
        span {
          font-size: $subTitle;
        }
      }
    }
  }
}

.card-navigation {
  font-size: $paragraph;
  color: $color100;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.card_experience {
  border-top: 1px solid $color100;
  border-bottom: 1px solid $color100;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .year {
    color: $color000;
    font-size: $bigParagraph;
    font-weight: 500;
  }

  .office {
    color: $color100;
    font-size: $title;
    font-weight: 600;
  }

  .position {
    color: $color000;
    font-size: $bigParagraph;
    font-weight: 500;
  }

  .desc {
    color: $color000;
    font-size: $paragraph;
    font-weight: 300;
    margin-top: -0.5rem;
    text-align: justify;
  }
}

.card-technologi {
  width: 100%;

  h1 {
    width: 300px;
    text-transform: capitalize;
    border-bottom: 2px solid $color100;
    text-align: left;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  h3 {
    color: $color200;
    margin: 0.5rem 0;
  }
  .text {
    font-size: 1rem;
    color: $color000;
  }
}

.card-icon {
  @include flex(row, center, center, 10px);
  width: 100%;
  font-size: $title;
  position: relative;

  * {
    transition: $fast;
  }
  span {
    font-size: 1rem;
  }
}

// icon Color
.tailwind {
  color: #7dd3fc;
}
.github {
  color: #f0f6fc;
  cursor: pointer;
}
.reactJs {
  color: #61dafb;
}
.nextJs {
  color: #fff;
}
.sass {
  color: #cd6799;
}
.mapbox {
  color: #4264fb;
}
.styled_component {
  color: #fb8d1a;
}
.firefox {
  color: #80ebff;
  cursor: pointer;
}
.axios {
  color: #671ddf;
}
.redux {
  color: #ba8fff;
}
.framer_motion {
  color: #ffffff;
}
.react_query {
  color: #ea580c;
}
.bootstrap {
  color: #563d7c;
}
.html {
  color: #e34c26;
}
.css {
  color: #264de4;
}
.javascript {
  color: #f0db4f;
}
.nodeJS {
  color: #215732;
}
.express {
  color: #3c873a;
}
.postgresql {
  color: #0064a5;
}
.mysql {
  color: #00758f;
}
.docker {
  color: #0db7ed;
}
.Sequelize {
  color: #02afef;
}
.postman {
  color: #ef5b25;
}
.vscode {
  color: #0078d7;
}
.Illustrator {
  color: #f8a829;
}
.figma {
  color: #fff;
}
.ubuntu {
  color: #dd4814;
}
.windows {
  color: #00adef;
}
.netlify {
  color: #32e6e2;
}
.vercel {
  color: #fff;
}
.typescript {
  color: #007acc;
}
.vueJs {
  color: #42b883;
}
.python {
  color: #4584b6;
}
.graphql {
  color: #f4447c;
}
.gRPC {
  color: #ffffff;
  font-size: 1rem;
}
.google {
  color: #db4437;
}
.whatsapp {
  color: #075e54;
}
.linkedin {
  color: #0077b5;
}

.loader {
  width: 200px;
  height: 4px;
  background-color: $color400;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s all ease;
  .satu {
    width: 50px;
    height: 4px;
    background-color: $color100;
    transition: 0.5s all ease;
  }
  .dua {
    width: 100px;
    height: 4px;
    background-color: $color200;
    transition: 0.5s all ease;
  }
  .tiga {
    width: 150px;
    height: 4px;
    background-color: $color100;
    transition: 0.5s all ease;
  }
  .empat {
    width: 200px;
    height: 4px;
    background-color: $color200;
    transition: 0.5s all ease;
  }
}
.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  .ticker-content {
    display: inline-flex;
    animation: ticker-scroll 50s linear infinite;
  }
  .ticker-item {
    margin-right: 20px;
    cursor: pointer;
  }
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 0px) and (max-width: 1030px) {
  .nav {
    @include size(100%, 10vh, 1rem 2rem);
    background-color: $color300;
    z-index: 999;
  }

  .header {
    @include size(100%, 100vh, 10%);
    p {
      font-size: $paragraph;
      text-align: center;
    }

    h1 {
      font-size: $subTitle;
      text-align: center;
    }

    h2 {
      font-size: $bigParagraph;
      text-align: center;
    }
  }

  .about {
    @include size(100%, 100%, 10%);
    h1 {
      font-size: $paragraph;
    }

    .content {
      flex-wrap: wrap;
    }
  }

  .card_project {
    @include size(100%, 100%, 10px 0);
    @include flex(column, flex-start, flex-start, 1rem);
    border-bottom: 2px solid $color200;
    .images {
      width: 100%;
      height: 170px;
      overflow: hidden;
      border-radius: 10px;
    }
    figcaption {
      width: 100%;
      height: 100%;
      @include flex(column, space-between, flex-start, 1rem);

      h1 {
        color: $color100;
        font-size: $bigParagraph;
      }
      h3 {
        color: $color200;
        font-size: $paragraph;
      }
      p {
        font-size: $paragraph;
        color: $color000;
      }
      .container {
        width: 100%;
        @include flex(row, space-between, flex-start, 10px);
        .item_icon {
          width: 100%;
        }
        .row {
          @include flex(row, flex-start, flex-start, 10px);
          span {
            font-size: $subTitle;
          }
        }
      }
    }
  }

  .experience {
    @include size(100%, 100%, 15%);
    @include flex(column, center, center, 1rem);
    background-color: $color300;

    .title {
      top: 6rem;
      background-color: $color300;
      width: 100%;

      p {
        color: $color100;
        font-size: $bigParagraph;
        font-weight: 600;
      }

      h1 {
        color: $color000;
        font-size: $subTitle;
        font-weight: 600;
      }
    }

    .content {
      width: 100%;
    }
  }

  .footer {
    @include size(100%, 5vh, 2%);
    @include flex(row, center, center, 10px);
    background-color: $color300;
    color: $color000;
  }
}
