// Color
$color000: #ffffff;
$color100: #90b8f8;
$color200: #5f85db;
$color300: #353941;
$color400: #26282b;

// font Size
$bigTitle: 3.5rem;
$title: 2.3rem;
$subTitle: 2rem;
$bigParagraph: 1.3rem;
$paragraph: 1rem;
$small: 0.7rem;

//transition
$superFast: all ease-in-out 0.1s;
$fast: all ease-in-out 0.3s;
$medium: all ease-in-out 0.5s;
$slow: all ease-in-out 0.7s;
$superSlow: all ease-in-out 1s;

@mixin flex($flex, $just, $align, $gap) {
  display: flex;
  flex-direction: $flex;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

@mixin size($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
}

@mixin grid($width, $fr, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, $fr));
  gap: $gap;
}

@mixin paragraph($column) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $column;
  -webkit-box-orient: vertical;
}

@mixin button($size) {
  padding: 0.5rem 3rem;
  font-size: $size;
  background-color: $color400;
  color: $color100;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: $fast;
  cursor: pointer;

  &:hover {
    transition: $fast;
    color: $color400;
    background-color: $color100;
  }
}

@mixin title($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}
